<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CopyPasteJira.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CopyPasteJira.Properties.Settings>
            <setting name="Prefixos" serializeAs="String">
                <value>BIPBIP-|SHOGUN-</value>
            </setting>
            <setting name="PrefixoAtual" serializeAs="String">
                <value>BIPBIP-</value>
            </setting>
            <setting name="UltimaLargura" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UltimaAltura" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncluirDescricao" serializeAs="String">
                <value>False</value>
            </setting>
        </CopyPasteJira.Properties.Settings>
    </userSettings>
</configuration>